.fullproperty {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iconscolor {
  color: rgb(168, 168, 168);
}

.starcolor {
  color: rgb(255, 208, 0);
}

.checkboxcolor {
  color: rgb(16, 173, 16);
}

.detailsbackground {
  background-image: url("../../images/ocean.jpg");
  background-size: cover;
  height: auto;
}
