/* EXPERIMENT SEARCH*/

/*search box css start here*/
.search-sec {
  padding: 2rem;
  margin-top: 15%;
}
.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -114px;
    background: rgba(26, 70, 104, 0.51);
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1a4668;
  }
}
/*FILTER css start here*/
.mediastyle {
  border: black;
}

.searchbackground {
  background-image: url("../../images/ocean.jpg");
  background-size: cover;
  height: auto;
}

.imagestyle {
  height: 500px;
}

.iconscolor {
  color: rgb(168, 168, 168);
}
