.navbar-color {
  background-color: aliceblue;
  background: transparent;
  border-color: transparent;
}

.margin {
  margin-top: 1%;
}

.flagcrop {
  margin-top: 10px;
  width: 30px;
  height: 20px;
}

.housecrop {
  width: 65px;
  height: 54px;
  margin-top: -12px;
  margin-left: 14px;
}

.websitename {
  color: transparent;
  background: #28a745;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
